/* Start Main CRUDS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }


body {
  background-color: #1e1d1d !important;
  color: #fff !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifX, Arial, sans-serif;
}
.crud{
  width: 80%;
  margin: auto !important;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  h1{
    color: #cf47c4;

text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
	  -3px 0px 7px rgba(81,67,21,0.8), 
	  0px 4px 7px rgba(81,67,21,0.8);
  }
  p{
    color: #4749cf;
  
  text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
      -3px 0px 7px rgba(81,67,21,0.8), 
      0px 4px 7px rgba(81,67,21,0.8);
  }
  i{
    color: #cf47c4;
  
  text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
      -3px 0px 7px rgba(81,67,21,0.8), 
      0px 4px 7px rgba(81,67,21,0.8);
      font-size: 18px;
  }

}
.dell{
  width: 100%;
  height: 30px ;
  border: none  !important;
  cursor: pointer ;
  background: red ;
  color: #ffffff  !important;
  transition: 0.5s ease-in-out !important ;
  border-radius: 20px !important;
}
.deel:hover{
  background-color: transparent  ;
  letter-spacing: 2px ;
  border: none  !important;
  color: #0514db  !important ;
}
.head{
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
input{
  background: #111;
  width: 100% !important;
  height: 30px !important;
  outline: none;
  border : none !important;
  background : #a60bc1 !important;
  margin : 4px 0 !important;
  border-radius : 4px !important;
  padding: 4px !important;
  color: #fff;
}
input:focus{
background-color: #000;
transform: scale(1.1);
}
input:hover{
  background-color: #000;
 
  }
.price input {
  width: 20% !important;

}
#total{
  background-color: !important;
  padding: 4px 2px !important;
  border-radius: 4px !important;
}

#total::before{
  content: "total : ";

}
button{
  width: 100%;
  height: 30px ;
  border: none ;
  cursor: pointer ;
  background: red ;
  color: #ffffff  ;
  transition: 0.5s ease-in-out ;
  border-radius: 20px !important;
  

}
button:hover{
  background-color: transparent  ;
  letter-spacing: 2px ;
  color: #0514db  !important ;
}

.btnsearch{
  display: flex;
  justify-self: space-between ! important;
  align-items: center !important;
  
  button{
    width: 45% !important;
    border-radius: 20px !important;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

input ::placeholder{
  color: #00f715f5 !important;
}














 
